<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>2.0.0-B3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{374.0,551.0}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>PirataPeixe-ipad.png</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>PirataPeixe1.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{80.0,102.0}</string>
			<key>spriteOffset</key>
			<string>{-1.0,5.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{5.0,3.0},{80.0,102.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149.0,108.0},{80.0,102.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe2.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{69.0,106.0}</string>
			<key>spriteOffset</key>
			<string>{4.5,4.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{16.0,2.0},{69.0,106.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,332.0},{69.0,106.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe3.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,110.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,3.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,1.0},{68.0,110.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302.0,2.0},{68.0,110.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe4.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,111.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,4.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,0.0},{68.0,111.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{219.0,212.0},{68.0,111.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe5.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,111.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,4.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,0.0},{68.0,111.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149.0,212.0},{68.0,111.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe6.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,111.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,4.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,0.0},{68.0,111.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79.0,108.0},{68.0,111.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe7.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,110.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,3.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,1.0},{68.0,110.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144.0,325.0},{68.0,110.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe8.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{70.0,107.0}</string>
			<key>spriteOffset</key>
			<string>{4.0,4.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{15.0,2.0},{70.0,107.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{289.0,225.0},{70.0,107.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe9.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{75.0,106.0}</string>
			<key>spriteOffset</key>
			<string>{1.5,4.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{10.0,2.0},{75.0,106.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,115.0},{75.0,106.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe10.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{84.0,104.0}</string>
			<key>spriteOffset</key>
			<string>{2.0,4.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{6.0,3.0},{84.0,104.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79.0,2.0},{84.0,104.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe11.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{78.0,107.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{7.0,2.0},{78.0,107.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,223.0},{78.0,107.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe12.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{77.0,109.0}</string>
			<key>spriteOffset</key>
			<string>{0.5,3.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{8.0,2.0},{77.0,109.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{289.0,114.0},{77.0,109.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe13.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{75.0,111.0}</string>
			<key>spriteOffset</key>
			<string>{1.5,3.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{10.0,1.0},{75.0,111.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,2.0},{75.0,111.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe14.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{69.0,110.0}</string>
			<key>spriteOffset</key>
			<string>{4.5,4.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{16.0,0.0},{69.0,110.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231.0,2.0},{69.0,110.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe15.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,108.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,5.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,0.0},{68.0,108.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214.0,325.0},{68.0,108.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe16.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,108.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,5.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,0.0},{68.0,108.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284.0,334.0},{68.0,108.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe17.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{68.0,107.0}</string>
			<key>spriteOffset</key>
			<string>{5.0,5.0}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{17.0,1.0},{68.0,107.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,440.0},{68.0,107.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>PirataPeixe18.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{69.0,106.0}</string>
			<key>spriteOffset</key>
			<string>{4.5,4.5}</string>
			<key>spriteSourceSize</key>
			<string>{92.0,119.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{16.0,2.0},{69.0,106.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73.0,332.0},{69.0,106.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
